$screen-xs: 575px;
$screen-sm: 767px;
$screen-md: 991px;
$screen-lg: 1199px;

.user-panel {
    a {
        cursor: default;
    }
}

td {
    vertical-align: middle !important;
}

.large-column {
    min-width: 170px;
}

.standard-form {
    width: 500px;
    @media screen and (max-width: $screen-sm) {
        width: 100%;
    }
}

.border-incorrect {
    border: 1px solid red;
}

.error-message {
    color: red;
}

#actionsForm {
    width: 600px;
    @media screen and (max-width: $screen-md) {
        width: 100%;
    }
}

.video-image {
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}
